body{
  background-color: #ca9;
}

.earthCulture{
  color: #999;
}

.hr_sep{
  clear: both;
}

.gmAid__main{
  border: thin solid black;
  float:left;
  padding: 5px;
  max-width: 33%;
}

.gmAid__button{
  float: right;
}

.npc {
  background-color: #DDD;
  border: thin solid black;

}


////////////////
//   TESTING  //
////////////////

.sample-show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}

.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}
